.home-wrap {
  .button {
    margin-left: -24px;
    transition-duration: 0.35s;
    &:hover {
      margin-left: 0;
    }
  }
}

.animated-logo {
  display: flex;
  justify-content: center;
}

.animation-section {
  $delay: 1.4s;
  $time: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5vh;
  @media screen and (max-width: $sm){
    display: none;
  }
  .dlow {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    transition: all $time/2 $bezier;
    transition-delay: $delay/2;
  }
  .dtop {
    margin-left: -100px;
    position: relative;
    z-index: 2;
    transition: all $time/2 $bezier;
    transition-delay: $delay/2;
  }

  .glass {
    $size: 180px;
    position: absolute;
    width: $size;
    height: $size;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(6px);
    /* Note: backdrop-filter has minimal browser support */
    transition: transform $time $bezier;
    transition-delay: $delay;
    border-radius: 30px;
    transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, -200);
    z-index: 5;
    &.low {
      bottom: 0;
      transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, 200);
      z-index: 1;
    }
  }

  &.active {
    .glass {
      transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, -120);
      &.low {
        transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, 120);
      }
    }
    .dlow {
      margin-bottom: -50px;
    }
    .dtop {
      margin-left: -200px;
    }
  }
}

.about-wrap {
  .logos {
    div {
      text-align: center;
    }
    svg {
      max-width: 90%;
    }
  }
}


.directions-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  gap: $min-margin;
  .sector-item {
    $pd: 1rem;
    background: $primary;
    padding: $pd;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    border-radius: $radius;
    .number {
      position: absolute;
      top: $pd*2;
      left: $pd;
      width: $pd;
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: $pd;
        display: block;
      }
    }
  }
  @media screen and (max-width: $sm){
    $pd: 10px;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    .sector-item {
      padding: $pd;
      font-size: 12px;
      .number {
        top: $pd*2;
        left: $pd;
        width: $pd;
        &:after {
          margin-top: $pd;
        }
      }
    }
  }
}

.career-wrap {
  overflow: scroll;
  display: flex;
  cursor: all-scroll;
  &.horizontal-scroll {
    $height: 60vh;
    $gap: $min-margin;
    $item: 2;
    $item-width: calc(#{$container} / #{$item} - #{$gap});
    display: block;
    overflow: scroll;
    width: $height;
    height: $container;
    transform: rotate(-90deg) translateY(-$height);
    transform-origin: top right;
    padding-top: $item-width;
    margin-left: calc((100vw - #{$container})/2 );
    @media screen and (max-height: 800px){
      width: $height + 15vh;
      transform: rotate(-90deg) translateY(-($height+ 15vh));
    }
    .career-item {
      margin-bottom: $gap;
      display: flex;
      flex-direction: column;
      transform: rotate(90deg) translateY(0vh);
      transform-origin: top right;
      width: $item-width;
      height: $item-width;
      overflow: hidden;
      .gatsby-image-wrapper {
        max-height: 270px;
        margin-top: $min-margin;
      }
      &:nth-child(2n) {
        .title {
          margin-bottom: 1rem;
        }
      }
    }
  }
  &::-webkit-scrollbar {
    height: 4px;
    background: rgba($primary, 0.2);
    &:vertical {
      display: none;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
}
.career-item {
  margin-right: $min-margin;
  display: flex;
  flex-direction: column;
  .number {
    margin-top: 0.6em;
    margin-bottom: 0.4em;
    font-weight: 600;
    font-size: 3rem;
    color: $primary;
    line-height: 1;
  }
  &:nth-child(2n) {
    .gatsby-image-wrapper {
      order:3;
      margin-top: auto;
    }
    .title {
      margin-bottom: 3rem;
    }
  }
  @media screen and (max-width: $md) {
    font-size: 14px;
    display: flex;
    .number {
      margin-right: $min-margin;
    }
  }
}


.contacts-wrap {
  .rekviziti {
    font-size: 14px;
  }
  address {
    font-size: 14px;
    font-style: normal;
    margin-bottom: 1em;
  }
  a, button {
    text-decoration: none;
  }
  .form-contact {
    align-self: center;
    position: relative;
  }
  .msg-form {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeTo0 5s forwards;
  }
}



.solutions-wrap {
  height: calc( 100% - 5vh );
}

.lineOptions {
  $timeline: 2s;
  $count: 5;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: $min-margin;
  .point {
    width: 45%;
    text-align: right;
    position: relative;
    padding: 1rem 0;
    margin-bottom: $min-margin;
    opacity: 0;
    transition: 0.2s opacity $bezier;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        $delay: $i * $timeline/$count + $timeline/$count/2;
        transition-delay: $delay;
        opacity: 1;
        .point-name:before {
          animation-delay: $delay;
        }
      }
      @media screen and (max-width: $sm){
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: $min-margin;
        margin-left: 0 !important;
        margin-bottom: 0;
        font-size: 14px;
        .point-name {
          position: static !important;
          &:before {
            left: 0 !important;
            transform: translateX(-50%) translateY(-50%) !important;
          }
        }
      }
    }
    .point-icon {
      margin-bottom: 10px;
      padding: 0 10px;
    }
    .point-name {
      padding: 0 10px;
      position: relative;
      &:before {
        $size: 8px;
        content: "";
        position: absolute;
        right: -11%;
        top: 50%;
        width: $size;
        height: $size;
        border-radius: 50%;
        border-color: $primary;
        border-style: solid;
        transform: translateX(50%) translateY(-50%);
        background: $primary;
        transition: all 0.3s $bezier;
        animation: dotToCircle 0.3s $bezier forwards;
      }
    }
    &:nth-child(odd) {
      margin-left: auto;
      text-align: left;
      .point-name {
        &:before {
          left: -11%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
  .line {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: rgba($primary, 0.2);
    overflow: hidden;
    @media screen and (max-width: $sm){
      left: 0;
    }
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background: $primary;
      transform: translateY(-100%);
      transition: all 2s linear;
      animation: lineLinear $timeline linear;
      animation-delay: $timeline/$count;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes lineLinear {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dotToCircle {
  0% {
    $size: 8px;
    width: $size;
    height: $size;
    background: $primary;
    border-width: 0;
  }
  100% {
    $size: 24px;
    width: $size;
    height: $size;
    border-width: $size/4;
    background: #fff;
    z-index: 2;
    box-shadow: $shadow;
  }
}

@keyframes fadeTo0 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  95% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}