$sm: nth(nth($breakpoints, 2),2);
$md: nth(nth($breakpoints, 3),2);

.home-wrap {
  .button {
    margin-left: -24px;
    transition-duration: 0.35s;
    &:hover {
      margin-left: 0;
    }
  }
}

.animated-logo {
  display: flex;
  justify-content: center;
}

.animation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5vh;
  .dlow {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    transition: all 1s $bezier;
    transition-delay: 0.2s;
  }
  .dtop {
    margin-left: -100px;
    position: relative;
    z-index: 2;
    transition: all 1s $bezier;
    transition-delay: 0.2s;
  }

  .glass {
    $size: 180px;
    position: absolute;
    width: $size;
    height: $size;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 60px 60px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(18px);
    /* Note: backdrop-filter has minimal browser support */
    transition: transform 1s $bezier;
    transition-delay: 0.4s;
    border-radius: 30px;
    transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, -200);
    z-index: 5;
    &.low {
      bottom: 0;
      transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, 200);
      z-index: 1;
    }
  }

  &.active {
    .glass {
      transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, -120);
      &.low {
        transform: matrix(-1.68, 0.75, 1.68, 0.75, 0, 120);
      }
    }
    .dlow {
      margin-bottom: -50px;
    }
    .dtop {
      margin-left: -200px;
    }
  }
}

.about-wrap {
  .logos {
    div {
      text-align: center;
    }
    svg {
      max-width: 90%;
    }
  }
}


.directions-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  gap: $min-margin;
  .sector-item {
    $pd: 1rem;
    background: $primary;
    padding: $pd;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    border-radius: $radius;
    .number {
      position: absolute;
      top: $pd*2;
      left: $pd;
      width: $pd;
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #fff;
        margin-top: $pd;
        display: block;
      }
    }
  }
  @media screen and (max-width: $sm){
    $pd: 10px;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-auto-rows: 130px;
    .sector-item {
      padding: $pd;
      font-size: 12px;
      .number {
        top: $pd*2;
        left: $pd;
        width: $pd;
        &:after {
          margin-top: $pd;
        }
      }
    }
  }
}


.career-item {
  padding-right: $min-margin;
  .number {
    margin-bottom: $min-margin;
    font-weight: 600;
  }
  @media screen and (max-width: $md) {
    font-size: 14px;
    display: flex;
    .number {
      margin-right: $min-margin;
    }
  }
}

.contacts-wrap {
  color: #fff;
  address {
    font-style: normal;
  }
  a, button {
    color: $secondary;
    text-decoration: none;
  }
}
